
<div class="container">
<h1>Reportes</h1>

  <div class="row">
    <div class="col-4"></div>
    <div class="form-row">
      <div class="col-4">
        <select id="periodo_reporte" class="form-control">
          <option value="">Selecciona Periodo...</option>
          <option value="1">Hoy</option>
          <option value="2">Ayer</option>
          <option value="3">Mes Actual</option>
          <option value="4">Mes Anterior</option>
          <option value="5">Personalizado</option>
        </select>
      </div>
      <div class="col-4">
        <input class="form-control" type="text disabled" placeholder="desde" disabled>
      </div>
      <div class="col-4">
        <input class="form-control" type="text disabled" placeholder="hasta" disabled>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4 text-center">
    </div>
    <div class="col-4 text-center">
      <button type="button" class="btn btn-aqua disabled" disabled>Reporte de Pedidos</button>
      <button type="button" class="btn btn-aqua disabled" disabled>Productos por Pedidos</button>
    </div>
  </div>
</div>
