<div class="cart-sidebar">
  <div class="cart-sidebar-header">
    <h5 id="negocio_nombre_carrito"></h5>
    <h5>
      Mi Pedido <span class="btn btn-sm btn-pink btn-circle btn-circle-sm total-items"></span> <a
        data-turbolinks="false" data-toggle="offcanvas" class="float-right" href="#"><i class="fas fa-times"></i>
      </a>
    </h5>
  </div>
  <div class="cart-sidebar-body" id="carrito_items">
  </div>
  <div class="cart-sidebar-footer">
    <div class="cart-store-details">
      <p>Total <strong class="float-right total-pedido"></strong></p>
    </div>
    <button type="button" class="btn btn-pink btn-block text-left bg-pica" id="btn-procesar"><span
        class="float-left"><i class="fas fa-shopping-cart"></i> Procesar Pedido </span><span class="float-right"><strong
          class="total-pedido"></strong> <i class="fas fa-chevron-right"></i></span></button>
  </div>
</div>