<!-- <footer class="page-footer d-none d-md-block"> -->
<footer class="page-footer">
  <img src="https://i.ibb.co/7SkTLB0/logo-fina.png width="244" height="100" class="d-inline-block align-top" alt="">
  <p>&copy; 2020 </p>
  <p>
    <a data-turbolinks="false" href="#">Ir arriba</a>
  </p>
</footer>