<!-- <footer class="page-footer d-none d-md-block"> -->
<footer class="page-footer">
  <img src="/images/logo4.png" width="151" height="50" class="d-inline-block align-top" alt="">
  <p>&copy; <%= Time.now.year.to_s %> </p>
  <a target="_blank" href="/TerminosyCondiciones.pdf"><b>Términos</b> y <b>Condiciones</b></a> <br> <a target="_blank" href="/AvisoDePrivacidad.pdf"><b>Aviso de privacidad</b></a>
  <p>
    <a data-turbolinks="false" href="#">Ir arriba</a>
  </p>
</footer>