<!-- Modal -->
<div class="modal fade" id="notifModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel"><strong>Solo puedes pedir productos de un mismo proveedor</strong></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elimina el contenido del carrito si deseas agregar este producto
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_vaciar_agregar" data-producto="" class="btn btn-pink btn-sm">Vaciar Carrito</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notifPedidoModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel"><strong>Muchas gracias por realizar tu pedido</strong></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        En breve te mandaremos la confirmación de tu pedido.
      </div>
      <div class="modal-footer">
        <a class="btn btn-pink btn-sm" href="/socios/Gustavo-Martinez-DeliFruitMercado">Aceptar</a>
      </div>
    </div>
  </div>
</div>