


<div class="container cont-cat pb-20">
  <div class="py-4 text-center">
    <h2>Confirmar pedido</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Tu pedido</span>
        <span class="badge btn-pink total-items"></span>
      </h4>
      <ul class="list-group mb-3" id="carrito_items_detalle">
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <div class="alert alert-warning" role="alert" id="alert_aviso" style="display:none;"></div>
      <h4 class="mb-3">Datos del cliente</h4>
      <form id="datos_cliente_form" autocomplete="off" method="POST" action="/">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cliente_nombre">Nombre</label>
            <input type="text" class="form-control" id="cliente_nombre" name="nombre">
          </div>
          <div class="col-md-6 mb-3">
            <label for="cliente_telefono">Número Celular <span class="required"><i class="fas fa-asterisk fa-xs"></i></span></label>
            <input type="number" class="form-control positive-integer" id="cliente_telefono" name="telefono" onKeyPress="if(this.value.length==10) return false;" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 mb-3">
            <label for="cliente_direccion">Dirección <span class="required"><i class="fas fa-asterisk fa-xs"></i></span></label>
            <input type="text" class="form-control" id="cliente_direccion" name="direccion" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="cliente_area">Colonia <span class="required"><i class="fas fa-asterisk fa-xs"></i></span></label>
            <input type="text" class="form-control" id="cliente_area" name="area" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="cliente_horario">Tipo de Envío</label>
            <select class="custom-select d-block w-100" id="cliente_tipo_envio" name="tipo_envio">
              <option value="A Domicilio">A Domicilio</option>
              <option value="Para Recoger">Para Recoger</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="cliente_pago">Forma de Pago</label>
            <select class="custom-select d-block w-100" id="cliente_pago" name="pago">
              <option value="Efectivo">Efectivo</option>
              <option value="Tarjeta">Tarjeta</option>
              <option value="Transferencia">Transferencia</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="cliente_correo">Correo Electrónico</label>
            <input type="email" class="form-control" id="cliente_correo" name="correo">
          </div>
        </div>
        <div class="row" id="row_factura">
          <div class="col-md-4 mb-3">
            <label for="cliente_factura">Requiere factura</label>
            <select class="custom-select d-block w-100" id="cliente_factura" name="factura">
              <option value="0">No</option>
              <option value="1">Si</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="cliente_rfc">RFC</label>
            <input type="text" class="form-control" maxLength="13" id="cliente_rfc" name="rfc">
          </div>
          <div class="col-md-4 mb-3">
            <label for="cliente_uso">Uso CFDI</label>
            <select class="custom-select d-block w-100" id="cliente_uso" name="uso_cfdi">
                <option value=""></option>
                <option value="G01">G01 - Adquisición de mercancias</option>
                <option value="G02">G02 - Devoluciones, descuentos o bonificaciones</option>
                <option value="G03" selected="">G03 - Gastos en general</option>
                <option value="I01">I01 - Construcciones</option>
                <option value="I02">I02 - Mobilario y equipo de oficina por inversiones</option>
                <option value="I03">I03 - Equipo de transporte</option>
                <option value="I04">I04 - Equipo de computo y accesorios</option>
                <option value="I05">I05 - Dados, troqueles, moldes, matrices y herramental</option>
                <option value="I06">I06 - Comunicaciones telefónicas</option>
                <option value="I07">I07 - Comunicaciones satelitales</option>
                <option value="I08">I08 - Otra maquinaria y equipo</option>
                <option value="D01">D01 - Honorarios médicos, dentales y gastos hospitalarios</option>
                <option value="D02">D02 - Gastos médicos por incapacidad o discapacidad</option>
                <option value="D03">D03 - Gastos funerales.</option>
                <option value="D04">D04 - Donativos</option>
                <option value="D05">D05 - Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación)</option>
                <option value="D06">D06 - Aportaciones voluntarias al SAR</option>
                <option value="D07">D07 - Primas por seguros de gastos médicos</option>
                <option value="D08">D08 - Gastos de transportación escolar obligatoria</option>
                <option value="D09">D09 - Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones</option>
                <option value="D10">D10 - Pagos por servicios educativos (colegiaturas)</option>
                <option value="P01">P01 - Por Definir</option>
            </select>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
          <label for="cliente_comentario">Indicación especial</label>
          <textarea onfocus="this.placeholder = ''" onblur="this.placeholder = 'Escribe aquí alguna indicación especial que le quieres comentar a tu proveedor de servicio.'" id="cliente_comentario" name="comentario" cols="30" rows="4" class="form-control" placeholder="Escribe aquí alguna indicación especial que le quieres comentar a tu proveedor de servicio."></textarea>
        </div>
        </div>
        <br>
        Los campos con <span class="required"><i class="fas fa-asterisk fa-xs"></i></span> son requeridos.
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" id="submit_pedido" type="submit">Confirmar Pedido</button>
      </form>
    </div>
  </div>

</div>