@media screen and (min-width: 1024px) {
  .navbar.is-spaced {
    padding: 0rem 4rem !important;
  }
}

.img-cat {
  border-radius: 15px;
  width: 128px !important;
  height: 128px !important;
}

.footer-custom {
  margin-top: 8rem;
  border-top: 3px solid #f5f5f5;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hero-gradient {
  background: #cc2b5e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.minav {
  background-color: #ffffff !important;
  border-bottom: solid 2px #f5f5f5;
}

.carbar {
  font-size: 2.2vh;
  color: white;
  height: 8vh;
  width: 100vw;
  bottom: 0vh;
}

.c-white {
  color: white !important;
}

/* Cart Sidebar */
body.toggled {
  overflow: hidden;
}

body.toggled::after {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

.cart-sidebar {
  background: #fff none repeat scroll 0 0;
  overflow: auto;
  position: fixed;
  right: -400px;
  top: 0;
  bottom: 0;
  width: 400px;
  z-index: 9999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
}

.toggled .cart-sidebar {
  right: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cart-sidebar-body {
  height: 66vh;
  overflow: inherit;
}

.cart-sidebar-header {
  background: #1c2224 none repeat scroll 0 0;
  color: #fff;
  padding: 18px 20px;
}

.cart-sidebar-header h5 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.cart-sidebar-header .float-right {
  background: #fff none repeat scroll 0 0;
  border-radius: 24px;
  color: #000;
  height: 26px;
  line-height: 25px;
  text-align: center;
  width: 26px;
}

.cart-list-product {
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  padding: 14px 20px;
  position: relative;
}

.cart-list-product img {
  float: left;
  height: 50px;
  margin: 0 15px 0 0;
  object-fit: scale-down;
  width: 82px;
}

.cart-list-product h5 a {
  font-size: 14px;
}

.cart-list-product h5 {
  margin: 0;
}

.cart-list-product h6 {
  font-size: 11px;
}

.cart-list-product>h6 span {
  color: #e96125;
}

.remove-cart {
  position: absolute;
  right: 18px;
  top: 12px;
}

.cart-list-product .badge {
  background: #f2fef2 none repeat scroll 0 0;
  border: 1px solid #51aa1b;
  border-radius: 2px;
  color: #51aa1b;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 6px;
}

.cart-sidebar-footer {
  background: #ececec none repeat scroll 0 0;
  padding: 14px 20px;
  bottom: 0px;
}

.cart-store-details p {
  margin: 0 0 3px;
}

.cart-store-details h6 {
  margin: 10px 0 19px;
}

.cart-sidebar-footer .btn {
  padding: 10px 15px;
}

@media (max-width: 575.98px) {
  .cart-sidebar {
    width: 320px;
  }
}

a {
  text-decoration: none !important;
  color: #222020;
  transition-duration: 0.4s;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  margin-left: 5px;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
}

li.ilb {
  display: inline-block;
  padding: 0px 15px;
}

.scrollable-content::-webkit-scrollbar {
  height: 3px;
}

.scrollable-content::-webkit-scrollbar * {
  background: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #e1e1e1 !important;
}

#cat-nav {
  overflow-x: auto;
  white-space: nowrap;
  height: 50px;
  overflow-y: hidden;
  display: inline-block;
  background-color: white !important;
  color: #333 !important;
  width: 100%;
  z-index: 3;
  padding-left: 0px;
  padding-right: 0px;
}

#cat-nav>ul>li>a.active {
  border-bottom: 2px solid #03dac5;
  font-weight: bolder;
  color: #333 !important;
}

#cat-nav>ul>li>a {
  border-bottom: none;
}

#cat-nav>ul>li>a:hover {
  color: #333 !important;
  border: none !important;
}

// .sticky-custom {
//   z-index: 3;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   display: block;
// }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.card-footer {
  padding: 0.2rem 1rem;
}

.card-body {
  padding: 0.5rem;
}

.cont-cat {
  padding-top: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.page-footer {
  padding: 3.5rem 0;
  color: #999;
  text-align: center;
  background-color: #eeeeee;
  margin-top: 50px;
}

#btn-cart_float {
  position: fixed;
  bottom: 25px;
  right: 15px;
}

#config_user_condiciones_higiene {
  min-height: 135px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 140px;
}

.img-cover-prod {
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.navbar-primary {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 3px 2px 10px #999;
  z-index: 4;
}

body {
  font-family: "Comfortaa", cursive;
  background-color: #eeeeee;
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
  }

  .cont-cat {
    padding: 0px 50px;
    padding-bottom: 50px;
  }
}

.cont-principal {
  background-color: #ffffff;
  padding-right: 0px;
  padding-left: 0px;
}

.btn-cart {
  background-color: #1ad4d8;
  color: #ffffff;
}

.btn-cart:hover {
  background-color: #1ad4d8;
  color: #ffffff;
}

.btn-cart-item:hover {
  background-color: #1ad4d8;
  color: #ffffff;
}

.box-shadow-btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-outline-pink {
  color: #ef2275;
  border-color: #ef2275;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-outline-pink:hover {
  color: #ffffff;
  border-color: #ef2275;
  background-color: #ef2275;
}

.btn-pink {
  background-color: #ef2275 !important;
  color: #ffffff;
}

.cond-item {
  border-radius: 0.25rem;
  border: solid 1px #ef2275;
  width: 100%;
  padding: 10px;
  color: #ef2275;
}

.color-pink {
  color: #ef2275;
}

.color-wa {
  color: #00bb2d;
}

.btn-aqua {
  background-color: #1ad4d8 !important;
  color: #ffffff;
}

.btn-pink:hover {
  background-color: #d72477;
  color: #ffffff;
}

.card-background {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}

.card-background-prod {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.card-top {
  top: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  height: 60px;
  width: 100%;
}

.card-bottom {
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  height: 55px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.product-card {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.subtitulo {
  font-weight: normal;
  font-size: 0.9rem;
  color: #00000099;
  text-overflow: ellipsis;
}

.owl-theme {
  .owl-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;

    .owl-prev,
    .owl-next {
      position: absolute;
      height: 100px;
      color: inherit;
      background: none;
      border: none;
      z-index: 100;

      i {
        font-size: 2.5rem;
        color: #cecece;
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }
}

// .owl-stage {
//   padding-left: 0px !important;
// }

.carousel-inner img {
  width: 100%;
  object-fit: cover;
}

.carousel {
  height: 25vh;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

// Hero banner de tienda

.hero-image {
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
}

.hero-text {
  color: white;
  font-size: 1rem;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.input-cantidad {
  max-width: 60px !important;
  width: 60px;
  text-align: center;
}

.row-product-title {
  margin-bottom: 5px;
}

a.link {
  color: #d72477
}

.owl-carousel .owl-item img {
  height: 250px;
  object-fit: cover;
}

.owl-carousel .owl-item .card-body {
  height: 85px;
}

@media (max-width: 575.98px) {
  p.card-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  p.card-text {
    font-size: 0.5rem;
  }
}

@media (min-width: 1200px) {
  p.card-text {
    font-size: 0.7rem;
  }

  .owl-carousel .owl-item .card-body {
    height: 65px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btn-wa,
.btn-wa:hover,
.btn-wa:focus,
.btn-wa:active {
  text-decoration: none;
  color: #00bb2d;
  margin-right: 5px;
}

.btn-fb,
.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active {
  text-decoration: none;
  color: #3b5998;
  margin-right: 5px;
}

.btn-ph,
.btn-ph:hover,
.btn-ph:focus,
.btn-ph:active {
  text-decoration: none;
  color: #e91e63;
}

.pl-0 {
  padding-left: 0px;
}

.mt-10 {
  margin-top: 10px;
}

#ver_prod_movil {
  width: 100%;
}

#info_proveedor {
  padding-bottom: 20px;
}