<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Pidelo en Casa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <meta property="og:title" content="Pedido #1234" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://staging.pideloencasa.mx/ver_pedido/OC1waWRlbG9lbmNhc2EubXg=" />
    <meta property="og:image" content="https://i.ibb.co/7SkTLB0/logo-fina.png" />
    <link rel="shortcut icon" href="/images/favicon-64x64.png">
    <meta property="og:description" content="Sean Connery found fame and fortune as the suave, sophisticated British agent, James Bond." />
    
    <!-- Bootstrap, FontAwesome, Animate -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">

  </head>

  <body >
      <%= yield %>
  </body>
</html>
